/* Askja */
a {
  color: #e0e0e0; }

a:link, a:visited {
  text-decoration: underline; }

a:hover {
  text-decoration: none; }

blockquote {
  margin: 20px 19px; }

body {
  color: #c1c1c1;
  font-family: "eb garamond", palatino, "times new roman", serif;
  font-size: 17px;
  font-weight: 100;
  text-shadow: 0 0 2px black;
  background: black url("/images/back.jpg") repeat-y scroll center;
  margin: 0;
  padding: 0;
  border: 0; }

img {
  border: 0;
  margin: 0; }

p {
  text-align: justify; }

strong {
  color: #e0e0e0;
  font-weight: normal; }

.clear {
  clear: both; }

#radial {
  background: transparent url("/images/radial.png") no-repeat scroll center bottom;
  width: 100%;
  height: 385px;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7; }

#shift {
  width: 100%;
  position: absolute;
  top: 0; }
  #shift #wrapper {
    max-width: 650px;
    min-width: 478px;
    margin: 0 auto; }
    #shift #wrapper h1 {
      color: #bdbd8c;
      font-family: georgia, serif;
      font-size: 24px;
      font-weight: normal;
      padding: 0 12px; }
    #shift #wrapper h2 {
      color: #bdbd8c;
      font-family: georgia, serif;
      font-size: 20px;
      font-weight: normal;
      padding: 0 12px; }
    #shift #wrapper h3 {
      color: #bdbd8c;
      font-family: tahoma, sans-serif;
      font-size: 16px;
      font-weight: bold;
      padding: 0 12px; }
    #shift #wrapper .alternate {
      color: #8d8b98; }
    #shift #wrapper .hide {
      display: none; }
    #shift #wrapper .mail {
      color: white; }
    #shift #wrapper .important {
      color: white;
      font-size: 18px; }
    #shift #wrapper .content {
      line-height: 1.4em;
      border-bottom: 2px solid #60606c;
      border-top: 2px solid #60606c;
      margin: 0 7px;
      padding: 0 5px; }
      #shift #wrapper .content code, #shift #wrapper .content pre {
        color: white;
        font-family: Monaco, "Lucida Console", "Bitstream Vera Sans Mono", Courier, monospace;
        font-size: 12px;
        background: black;
        line-height: 1.3em;
        border: 1px solid #60606c;
        white-space: pre-wrap;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8; }
      #shift #wrapper .content code {
        padding: 3px 3px 2px 3px; }
      #shift #wrapper .content pre {
        padding: 10px 8px; }
      #shift #wrapper .content pre code {
        border: 0;
        padding: 0; }
      #shift #wrapper .content h2, #shift #wrapper .content h3 {
        padding: 0; }
      #shift #wrapper .content .figure {
        background: black;
        border: 1px solid #60606c;
        font-size: 15px;
        margin: 0;
        padding: 14px 16px;
        position: relative; }
        #shift #wrapper .content .figure img {
          border: 0; }
        #shift #wrapper .content .figure p {
          margin: 0; }
      #shift #wrapper .content img {
        display: block;
        border: 1px solid #60606c;
        margin: 20px auto; }
      #shift #wrapper .content img.inline {
        display: inline;
        border: 0;
        margin: 0; }
      #shift #wrapper .content ol {
        padding: 0 0 0 20px; }
        #shift #wrapper .content ol li {
          text-align: justify;
          margin: 0 0 8px 0; }
      #shift #wrapper .content table {
        border-collapse: collapse;
        margin: 0 auto; }
        #shift #wrapper .content table caption {
          color: #bdbd8c;
          font-size: 15px;
          text-align: center;
          margin: 0 0 6px 0; }
        #shift #wrapper .content table td, #shift #wrapper .content table th {
          border: 1px solid #3c253b;
          padding: 4px 8px; }
        #shift #wrapper .content table th {
          font-weight: normal;
          background-color: black;
          padding: 6px 8px; }
      #shift #wrapper .content ul {
        padding: 0 0 0 20px; }
        #shift #wrapper .content ul li {
          text-align: justify;
          margin: 0 0 8px 0; }
      #shift #wrapper .content p.footnote sup {
        color: white; }
      #shift #wrapper .content p.meta {
        color: #8d8b98;
        font-size: 15px;
        font-style: italic; }
      #shift #wrapper .content p.quote {
        color: white;
        font-style: italic;
        margin: 20px 19px; }
      #shift #wrapper .content span.addendum {
        color: #8d8b98; }
    #shift #wrapper #about h2 {
      padding: 0; }
    #shift #wrapper #nav {
      font-size: 15px;
      text-align: center;
      border-top: 2px solid #60606c;
      padding: 14px 0; }
      #shift #wrapper #nav .item {
        margin: 0 5px; }
    #shift #wrapper #header {
      background: black url("/images/header.png") no-repeat scroll center bottom;
      height: 95px;
      margin: 0 10px;
      border: 0;
      padding: 0;
      cursor: pointer;
      -moz-box-shadow: 0 0 10px black;
      -webkit-box-shadow: 0 0 10px black;
      box-shadow: 0 0 10px black; }
    #shift #wrapper ul.article {
      list-style-type: none;
      margin: 0 10px 0 10px;
      padding: 0 0 10px 0;
      border-top: 1px solid #60606c; }
      #shift #wrapper ul.article li {
        padding: 7px 10px;
        border-bottom: 1px solid #60606c; }
        #shift #wrapper ul.article li a {
          color: #c9c9c8; }
        #shift #wrapper ul.article li a:link {
          text-decoration: none; }
        #shift #wrapper ul.article li a:visited {
          text-decoration: none; }
        #shift #wrapper ul.article li a:hover {
          text-decoration: underline; }
